.icon-google-plus::before {
  content: '\ea8b';
}
.icon-facebook::before {
  content: '\ea90';
}
.icon-youtube::before {
  content: '\EA9D';
}
.icon-vimeo::before {
  content: '\eaa0';
}
.icon-behance::before {
  content: '\eaa8';
}
.icon-tumblr::before {
  content: '\eab9';
}
.icon-reddit::before {
  content: '\eac6';
}
.icon-linkedin2::before {
  content: '\eaca';
}
.icon-pinterest::before {
  content: '\ead1';
}